.v{
	background-color: red;
}
body{
	background-color: blue;
}
.t{
	background-color: #5d5d5d;
}
header{
	background-color: red;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

li {
  float: right;
  color: white;
  font-family: verdana;
}

li {
  display: block;
  padding: 8px;
  background-color: red;
}
.btn btn-dark{
	text-align: center;
	color: gray;
}
